@tailwind base;
@tailwind components;
@tailwind utilities;

.lmj-compte {
	height: 25px;
	width: 25px;
}

.lmj-meubles {
    height: 90px;
    width: 100px ;
}

.lmj-panier {
    height: 25px;
    width: 25px ;
}

.lmj-meubleTest{
    height:150px;
    width: 300px ;
}